<a href="https://colab.research.google.com/github/shinchangyoung/machine-learning/blob/main/%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EA%B4%80%EB%A0%A8%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 버스역
import pandas as pd

# 파일 불러오기
data = pd.read_csv('/content/drive/MyDrive/서울시 상권분석서비스(추정매출-상권).csv', encoding='cp949')

data

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20243,A,골목상권,3110595,메디힐병원,CS200037,노래방,69063652,725,48394982,...,153,329,557,146,0,52,215,82,216,139
1,20243,A,골목상권,3110796,한림대학교한강성심병원,CS300010,반찬가게,239704725,774,239704725,...,0,0,516,258,0,516,0,0,0,258
2,20243,A,골목상권,3110162,군자역 4번,CS300011,일반의류,32685417,455,25601345,...,167,0,28,427,0,121,0,112,139,83
3,20243,A,골목상권,3110925,서초중학교,CS300011,일반의류,57053572,201,32544643,...,0,0,0,201,0,0,0,161,40,0
4,20243,D,발달상권,3120113,오목교역,CS300019,의료기기,143000000,55,143000000,...,0,0,0,55,0,0,0,0,0,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87174,20241,A,골목상권,3110255,상봉역 4번,CS100001,한식음식점,1480511973,39754,1054610879,...,14752,4083,24138,14059,118,2652,7160,6212,10292,11763
87175,20241,A,골목상권,3110730,서울축산농협 독산역지점(독산파출소),CS100001,한식음식점,500767580,18830,417270144,...,3255,1286,13671,4322,31,1451,2984,1727,4459,7338
87176,20241,A,골목상권,3110857,미성동주민센터,CS100001,한식음식점,255874113,6924,166738560,...,2202,385,4903,1752,0,268,743,1051,2075,2515
87177,20241,D,발달상권,3120025,롯데백화점(시청광장 지하쇼핑센터),CS100001,한식음식점,301589909,8173,287593142,...,545,158,3160,3202,0,696,1707,1658,1413,890
87178,20241,A,골목상권,3110188,용두동신동아아파트,CS100001,한식음식점,305062619,10751,260022960,...,2368,536,6670,3210,0,942,2757,1790,2351,2039

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import re

# CSV 파일 불러오기
df = data  # 이미 data라는 변수에 데이터프레임이 있다고 가정

def clean_name(name):
    if pd.isna(name):
        return name
    # 괄호 내용 제거
    name = re.sub(r'\(.*?\)', '', name)
    # 공백 이후 내용 제거
    name = name.split()[0]
    return name.strip()

# '상권_코드_명' 컬럼을 직접 수정
df['상권_코드_명'] = df['상권_코드_명'].apply(clean_name)

In [ ]:
data

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20243,A,골목상권,3110595,메디힐병원,CS200037,노래방,69063652,725,48394982,...,153,329,557,146,0,52,215,82,216,139
1,20243,A,골목상권,3110796,한림대학교한강성심병원,CS300010,반찬가게,239704725,774,239704725,...,0,0,516,258,0,516,0,0,0,258
2,20243,A,골목상권,3110162,군자역,CS300011,일반의류,32685417,455,25601345,...,167,0,28,427,0,121,0,112,139,83
3,20243,A,골목상권,3110925,서초중학교,CS300011,일반의류,57053572,201,32544643,...,0,0,0,201,0,0,0,161,40,0
4,20243,D,발달상권,3120113,오목교역,CS300019,의료기기,143000000,55,143000000,...,0,0,0,55,0,0,0,0,0,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87174,20241,A,골목상권,3110255,상봉역,CS100001,한식음식점,1480511973,39754,1054610879,...,14752,4083,24138,14059,118,2652,7160,6212,10292,11763
87175,20241,A,골목상권,3110730,서울축산농협,CS100001,한식음식점,500767580,18830,417270144,...,3255,1286,13671,4322,31,1451,2984,1727,4459,7338
87176,20241,A,골목상권,3110857,미성동주민센터,CS100001,한식음식점,255874113,6924,166738560,...,2202,385,4903,1752,0,268,743,1051,2075,2515
87177,20241,D,발달상권,3120025,롯데백화점,CS100001,한식음식점,301589909,8173,287593142,...,545,158,3160,3202,0,696,1707,1658,1413,890
87178,20241,A,골목상권,3110188,용두동신동아아파트,CS100001,한식음식점,305062619,10751,260022960,...,2368,536,6670,3210,0,942,2757,1790,2351,2039

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87179 entries, 0 to 87178
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        87179 non-null  int64
 1   상권_구분_코드         87179 non-null  object
 2   상권_구분_코드_명       87179 non-null  object
 3   상권_코드            87179 non-null  int64
 4   상권_코드_명          87179 non-null  object
 5   서비스_업종_코드        87179 non-null  object
 6   서비스_업종_코드_명      87179 non-null  object
 7   당월_매출_금액         87179 non-null  int64
 8   당월_매출_건수         87179 non-null  int64
 9   주중_매출_금액         87179 non-null  int64
 10  주말_매출_금액         87179 non-null  int64
 11  월요일_매출_금액        87179 non-null  int64
 12  화요일_매출_금액        87179 non-null  int64
 13  수요일_매출_금액        87179 non-null  int64
 14  목요일_매출_금액        87179 non-null  int64
 15  금요일_매출_금액        87179 non-null  int64
 16  토요일_매출_금액        87179 non-null  int64
 17  일요일_매출_금액        87179 non-null  int64
 18  시간대_00~06_매출_금액  87179 non-null  int64
 19  시간대_06~11_매출_금액  87179 non-null  int64
 20  시간대_11~14_매출_금액  87179 non-null  int64
 21  시간대_14~17_매출_금액  87179 non-null  int64
 22  시간대_17~21_매출_금액  87179 non-null  int64
 23  시간대_21~24_매출_금액  87179 non-null  int64
 24  남성_매출_금액         87179 non-null  int64
 25  여성_매출_금액         87179 non-null  int64
 26  연령대_10_매출_금액     87179 non-null  int64
 27  연령대_20_매출_금액     87179 non-null  int64
 28  연령대_30_매출_금액     87179 non-null  int64
 29  연령대_40_매출_금액     87179 non-null  int64
 30  연령대_50_매출_금액     87179 non-null  int64
 31  연령대_60_이상_매출_금액  87179 non-null  int64
 32  주중_매출_건수         87179 non-null  int64
 33  주말_매출_건수         87179 non-null  int64
 34  월요일_매출_건수        87179 non-null  int64
 35  화요일_매출_건수        87179 non-null  int64
 36  수요일_매출_건수        87179 non-null  int64
 37  목요일_매출_건수        87179 non-null  int64
 38  금요일_매출_건수        87179 non-null  int64
 39  토요일_매출_건수        87179 non-null  int64
 40  일요일_매출_건수        87179 non-null  int64
 41  시간대_건수~06_매출_건수  87179 non-null  int64
 42  시간대_건수~11_매출_건수  87179 non-null  int64
 43  시간대_건수~14_매출_건수  87179 non-null  int64
 44  시간대_건수~17_매출_건수  87179 non-null  int64
 45  시간대_건수~21_매출_건수  87179 non-null  int64
 46  시간대_건수~24_매출_건수  87179 non-null  int64
 47  남성_매출_건수         87179 non-null  int64
 48  여성_매출_건수         87179 non-null  int64
 49  연령대_10_매출_건수     87179 non-null  int64
 50  연령대_20_매출_건수     87179 non-null  int64
 51  연령대_30_매출_건수     87179 non-null  int64
 52  연령대_40_매출_건수     87179 non-null  int64
 53  연령대_50_매출_건수     87179 non-null  int64
 54  연령대_60_이상_매출_건수  87179 non-null  int64
dtypes: int64(50), object(5)
memory usage: 36.6+ MB

In [ ]:
new_data=data[data['기준_년분기_코드']==20243]
new_data.to_csv('신차영.csv')

In [ ]:
new_data['기준_년분기_코드'].value_counts(0)

기준_년분기_코드
20243    21718
Name: count, dtype: int64

In [ ]:
data.to_csv('toyoaki.csv')

NameError: name 'data' is not defined

In [ ]:

import pandas as pd
from geopy.geocoders import Nominatim
import time

# CSV 파일 경로 (예: 'data.csv')

# CSV 파일 읽기
df = data

# '상권코드명'에서 '메디힐병원'이 포함된 행 필터링
filtered_df = df[df['상권_코드_명'].str.contains('메디힐병원', na=False)]

# 병원 이름으로 좌표 검색
geolocator = Nominatim(user_agent="geoapiExercises")

# 결과 리스트 초기화
results = []

for index, row in filtered_df.iterrows():
    place_name = row['상권_코드_명']

    try:
        location = geolocator.geocode(place_name)
        time.sleep(1)  # 요청 간 간격을 주어야 블럭되지 않음

        if location:
            latitude = location.latitude
            longitude = location.longitude
        else:
            latitude = None
            longitude = None

        # 기존 컬럼 + 위도, 경도 추가
        row_data = row.to_dict()
        row_data['위도'] = latitude
        row_data['경도'] = longitude

        results.append(row_data)

    except Exception as e:
        print(f"에러 발생: {e}")

# 결과를 데이터프레임으로 변환
result_df = pd.DataFrame(results)

# 결과 출력
print(result_df)

# CSV로 저장하고 싶다면:
# result_df.to_csv('메디힐병원_결과.csv', index=False)

NameError: name 'data' is not defined

In [ ]:
import pandas as pd
!pip install geopy
from geopy.geocoders import Nominatim

data=pd.read_csv('/content/신차영 (1).csv')

def get_coordinates(location_name):
    # 사용자 에이전트 이름 설정 (필수)
    geolocator = Nominatim(user_agent="location_finder_app")

    try:
        # 위치 정보 조회
        location = geolocator.geocode(location_name)

        if location:
            # 위도, 경도 반환
            return {
                "latitude": location.latitude,
                "longitude": location.longitude
            }
        else:
            return {"error": "위치를 찾을 수 없습니다."}

    except Exception as e:
        return {"error": f"오류 발생: {str(e)}"}

# 사용 예시
if __name__ == "__main__":
    res=[]
    for i in range(0,len(data)):
      res.append(get_coordinates(data['상권_코드_명'][i]))
      print(i/len(data)*100)

In [ ]:
len(res)

21718

In [ ]:
res=pd.DataFrame(res)

In [ ]:
res.to_csv('매출데이터_좌표추출.csv')

In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.cluster import KMeans

file = pd.read_csv('/content/역_버스정류장_위치_정보.csv', encoding='cp949')

latitudes = file['위도'].to_numpy()
longitudes = file['경도'].to_numpy()
coords = np.vstack((latitudes, longitudes)).T

mean_lat = latitudes.mean()
lat_km = coords[:, 0] * 111.0
lon_km = coords[:, 1] * 111.0 * np.cos(np.radians(mean_lat))
coords_km = np.vstack((lat_km, lon_km)).T
coords_km

array([[ 4170.24841494, 11175.31860058],
       [ 4171.31705523, 11176.09023835],
       [ 4171.66638111, 11176.24250136],
       ...,
       [ 4155.945672  , 11189.38481712],
       [ 4155.570825  , 11188.79924435],
       [ 4155.161568  , 11187.82988997]])

In [ ]:
test=[]
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans
for k in range(2,5001):
 k_model = KMeans(n_clusters=k, random_state=42)
 labels = k_model.fit_predict(coords_km)
 score = silhouette_score(coords_km, labels)
 test.append(score)
 print(k/10001*100)

In [9]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
test2=[]
for i in range(2, 5001):
 if not i % 50 ==0:
  continue
 kmeans = KMeans(n_clusters=i, init='k-means++', max_iter=300, n_init=10, random_state=42)
 kmeans.fit(coords_km)
 test2.append(kmeans.inertia_)

In [10]:
res=pd.DataFrame(test2)

In [11]:
res.to_csv('toyo위치정보.csv')