<a href="https://colab.research.google.com/github/shinchangyoung/python-algorithm-solutions/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8%EC%9D%91%EC%9A%A9/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복문

In [5]:
# for 반복문1
test_list = ['one', 'two', 'three']
for i in test_list:
  x = i + '!'
  print(x)
print()

test_list2 = [1,2,3,4,5]
for i in test_list2:
  x = i + 1
  print(x)

one!
two!
three!

2
3
4
5
6

In [16]:
# for 반복문2
number = 0
for score in [90, 25, 67, 45, 93]:
  number += 1

  if score > 60:
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격입니다." % number)
print()

number = 0
for score in [90, 25, 67, 45, 93]:
    number += 1

    if score > 70:
        print("%d번 학생은 합격입니다. 점수: %d점" % (number, score))
    else:
        print("%d번 학생은 불합격입니다. 점수: %d점" % (number, score))

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

1번 학생은 합격입니다. 점수: 90점
2번 학생은 불합격입니다. 점수: 25점
3번 학생은 불합격입니다. 점수: 67점
4번 학생은 불합격입니다. 점수: 45점
5번 학생은 합격입니다. 점수: 93점

In [17]:
# while 문
i = 0
while i < 5:
  i += 1
  print('*' * i)

*
**
***
****
*****