<a href="https://colab.research.google.com/github/shinchangyoung/python-algorithm-solutions/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8%EC%9D%91%EC%9A%A9/%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

집합

In [ ]:
# 집합 만들기
s1 = {1, 2, 'a', 5}
s2 = set([1, 2, 3, 4, 5, 6])
print(s2)
s3 = set([4, 5, 6, 7, 8, 9])
print(s3)
s4 = set([3, 5, 6, 9, 12, 11])
print(s4)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{3, 5, 6, 9, 11, 12}

In [ ]:
# 교집합 연산
print(s2 & s3)
print(s2.intersection(s3))
print()
print(s2 & s4)
print(s2.intersection(s4))
print(s3.intersection(s4))

{4, 5, 6}
{4, 5, 6}

{3, 5, 6}
{3, 5, 6}
{9, 5, 6}

In [ ]:
# 합집합 연산
print(s2 | s3)
print(s2.union(s3))
print()
print(s3 | s4)
print(s3.union(s4))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

{3, 4, 5, 6, 7, 8, 9, 11, 12}
{3, 4, 5, 6, 7, 8, 9, 11, 12}

In [ ]:
# 집합 만들기
s1 = {1, 2, 'a', 5}
s2 = set([1, 2, 3, 4, 5, 6])
print(s2)
s3 = set([4, 5, 6, 7, 8, 9])
print(s3)
s4 = set([3, 5, 6, 9, 12, 11])
print(s4)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{3, 5, 6, 9, 11, 12}

In [ ]:
# 차집합 연산
print(s2 - s3)
#앞에 차집합에 의해 빠진 집합을 출력
print(s2.difference(s3))
#뒤에 차집합에 의해 빠진 집합을 출력
print(s3.difference(s2))
print()

# 원소 한 개 추가
s2.add(7)
print(s2)
print()

# 원소 여러 개 추가
s2.update([6, 7, 8, 9, 10])
print(s2)
print()

# 특정 원소 제거
s2.remove(7)
print(s2)

{1, 2, 3}
{1, 2, 3}
{8, 9, 7}

{1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 5, 6, 8, 9, 10}